$primary: #6f42c1;
$dark-purple: #6610f2;
$teal: #20c997;

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.App {
    align-items: center;
    // background: rgba(0,0,0,0.8);
    // background: linear-gradient(145deg, rgba(30,0,138,1) 25%, rgba(128,128,128,1) 75%);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/background.jpg');
    background-position: center;
    background-size:cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    min-width: 100vh;
    .logo {
        display: flex;
        img {
            max-height: 80px;
        }
    }
    .extra-info-container {
        color: white;
    }
    .hero {
        align-items: center;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
        display: flex;
        flex-direction: column;
        height: 65vh;
        justify-content: center;
        padding: 10px;
        width: 500px;
        .no-account-btn {
            border: none;
            outline: none;
            background-color: transparent;
            color: blue;
        }
        .no-account-btn:hover {
            cursor: pointer;
            transition: .25s ease-in;
            color: darkblue;
        }
        .metamask-btn {
            width: 270px;
            font-size: 20px;
            outline: none;
            border-radius: 15px;
            border: 2px solid black;
            background: rgb(84,0,221);
            background: linear-gradient(145deg, rgba(84,0,221,1) 25%, rgba(111,66,193,1) 75%);
            padding: 15px;
            margin: 10px;
        }
        .metamask-btn:hover {
            cursor: pointer;
            transition: .25s ease-in-out;
        }
        .account-container {
            color: black;
            display: flex;
            justify-content: center;
            padding: 10px;
            text-align: center;
        }
        .balance-container {
            display: flex;
            justify-content: center;
            margin: 10px;
            font-size: 18px;
        }
        .info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            h3 {
                text-align: center;
            }
            .button-container {
                display: flex;
                justify-content: space-evenly;
            }
            .get-count-btn {
                width: 200px;
            }
            button {
                border: 2px solid black !important;
                font-size: 20px;
                outline: none;
                border: none;
                background: $dark-purple;
                padding: 10px;
                margin: 10px;
                border-radius: 15px;
                width: 120px;
                transition: .25s ease-in;
            }
            button:hover {
                background-color: $primary;
                cursor: pointer;
                transition: .25s ease-in-out;
            }
        }
    }
}

@media only screen and (max-width: 812px) {
    * {
        color: white !important;
        font-weight: 400;
    }
    .App {
        width: 100%;
        min-width: 100% !important;
        .account-container {
            h1 {
                font-size: 20px !important;
            }
        }
        .balance-container {
            h2{
                font-size: 18px !important;
            }
        }
        .hero {
            background: transparent;
            justify-content: flex-start !important;
            width: 100%;
            .no-account-btn {
                color: rgb(44, 171, 255) !important;
            }
            .metamask-btn {
                font-size: 14px !important;
                width: 270px !important;
            }
            .info-container {
                width: 100% !important;
                button {
                    font-size: 14px !important;
                    width: 90px !important;
                }
                .get-count-btn {
                    width: 200px !important
                }
            }
        }
        .logo {
            img {
                max-height: 60px;
            }
        }
    }
}

@media only screen and (max-height: 590px) {
    * {
        color: white !important;
    }
    .hero {
        background-color: transparent !important;
    }
}