* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.App {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("./images/background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 100vh;
  min-width: 100vh;
}

.App .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .logo img {
  max-height: 80px;
}

.App .extra-info-container {
  color: white;
}

.App .hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 500px;
}

.App .hero .no-account-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: blue;
}

.App .hero .no-account-btn:hover {
  cursor: pointer;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
  color: darkblue;
}

.App .hero .metamask-btn {
  width: 270px;
  font-size: 20px;
  outline: none;
  border-radius: 15px;
  border: 2px solid black;
  background: #5400dd;
  background: linear-gradient(145deg, #5400dd 25%, #6f42c1 75%);
  padding: 15px;
  margin: 10px;
}

.App .hero .metamask-btn:hover {
  cursor: pointer;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.App .hero .account-container {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-align: center;
}

.App .hero .balance-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  font-size: 18px;
}

.App .hero .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.App .hero .info-container h3 {
  text-align: center;
}

.App .hero .info-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .hero .info-container .get-count-btn {
  width: 200px;
}

.App .hero .info-container button {
  border: 2px solid black !important;
  font-size: 20px;
  outline: none;
  border: none;
  background: #6610f2;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  width: 120px;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}

.App .hero .info-container button:hover {
  background-color: #6f42c1;
  cursor: pointer;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media only screen and (max-width: 812px) {
  * {
    color: white !important;
    font-weight: 400;
  }
  .App {
    width: 100%;
    min-width: 100% !important;
  }
  .App .account-container h1 {
    font-size: 20px !important;
  }
  .App .balance-container h2 {
    font-size: 18px !important;
  }
  .App .hero {
    background: transparent;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    width: 100%;
  }
  .App .hero .no-account-btn {
    color: #2cabff !important;
  }
  .App .hero .metamask-btn {
    font-size: 14px !important;
    width: 270px !important;
  }
  .App .hero .info-container {
    width: 100% !important;
  }
  .App .hero .info-container button {
    font-size: 14px !important;
    width: 90px !important;
  }
  .App .hero .info-container .get-count-btn {
    width: 200px !important;
  }
  .App .logo img {
    max-height: 60px;
  }
}

@media only screen and (max-height: 590px) {
  * {
    color: white !important;
  }
  .hero {
    background-color: transparent !important;
  }
}
/*# sourceMappingURL=Style.css.map */