* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.App {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1e008a;
  background: linear-gradient(145deg, #1e008a 25%, gray 75%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 100vh;
  min-width: 100vh;
}

.App .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .logo img {
  max-height: 80px;
}

.App .hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 15px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: 70%;
}

.App .hero .metamask-btn {
  width: 50%;
  font-size: 20px;
  outline: none;
  border-radius: 15px;
  border: 2px solid black;
  background: #6610f2;
  padding: 15px;
  margin: 10px;
}

.App .hero .metamask-btn:hover {
  cursor: pointer;
  background-color: #6f42c1;
  width: 270px;
}

.App .hero .account-container {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-align: center;
}

.App .hero .balance-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  font-size: 14px;
}

.App .hero .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.App .hero .info-container h3 {
  text-align: center;
}

.App .hero .info-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .hero .info-container button {
  border: 2px solid black !important;
  font-size: 20px;
  outline: none;
  border: none;
  background: #6610f2;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  width: 50%;
}

.App .hero .info-container button:hover {
  background-color: #6f42c1;
  cursor: pointer;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}

@media only screen and (max-width: 812px) {
  .App {
    width: 100%;
    overflow-x: hidden;
    min-width: 100% !important;
  }
  .App .account-container h1 {
    font-size: 14px !important;
  }
  .App .balance-container {
    font-size: 12px !important;
  }
  .App .hero {
    background: transparent;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    width: 100%;
  }
  .App .hero .metamask-btn {
    font-size: 14px !important;
    width: 270px !important;
  }
  .App .hero .info-container {
    width: 100% !important;
  }
  .App .hero .info-container button {
    font-size: 14px !important;
    width: 50% !important;
    max-width: 270px;
  }
}

@media only screen and (max-height: 500px) {
  .hero {
    background-color: transparent !important;
  }
}
/*# sourceMappingURL=Style.css.map */